* {
  padding: 0;
  margin: 0;
  font-family: cursive;
}

body {
  background-color: #f0f8ff;
}

header {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #000;
}

header details {
  background-color: #3a3a3a;
  color: #fff;
  margin: 10px;
  width: 500px;
  padding: 20px;
  justify-items: center;
  border-radius: 20px;
}

details summary {
  margin: 10px 0;
  font-weight: 700;
  cursor: pointer;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.scores p{
  padding: 5px;
  border-radius: 10px;
}

.scores p span{
  font-weight: 500;
}

section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.choose {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #90f7f0;
  border-radius: 20px;
  font-weight: 700;
  border: none;
  padding: 1px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button:hover{
  background-color: #5cfff4;
}


#again {
  display: none;
}
